{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Triangle Test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <h1>Enter 3 side lengths of a triangle</h1><br>
        <div class="form-group">
            <div class="form-group col-md-4">
                {{ form }}
                <br>
            </div>
        </div>

        <h3 id="message">
            <!-- : Message according to inputs(script.js) -->
        </h3>
        <script src="{% static 'triangle_app/script.js' %}"></script>
    </body>
</html>